<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>Warrior</title>
    <link rel="stylesheet" href="tufte.css"/>
    <link rel="stylesheet" href="latex.css"/>
    <link rel="stylesheet" href="custom.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <article>



        <div style="text-align: right; padding-right: 6rem;">
          <!-- {{#if previous}}<a href="{{previous.name}}.html">&laquo; {{previous.title}}</a> &middot;{{/if}}
         -->
          <p><a href="index.html">Table of Contents</a></p>
          {{#if next}}
          <p><a href="{{next.name}}.html">{{next.title}}&nbsp;&raquo;</a></p>
          {{/if}}
        </div>



      <section>
      <h1 id="tufte-css">{{title}}</h1>
      </section>

      {{#each sections}}
        <section>


          {{#is this.type 'quote'}}
            <blockquote>
              {{{text}}}
              <footer>

                {{#if url}}
                  <a href="{{url}}">{{author}}</a>
                {{/if}}

                {{#unless url}}
                  {{author}}
                {{/unless}}

              </footer>
            </blockquote>
          {{/is}}

          {{#is this.type 'youtube'}}
            <h2>{{title}}</h2>
            <figure>
              <a href="https://www.youtube.com/watch?v={{id}}" class="no-tufte-underline" title="{{title}}">
                <img src="images/yid-{{id}}.jpg" alt="{{title}}" style="width: 100%; height: auto;">
              </a>
              <p style="margin: 0 0.50rem;"><a href="https://www.youtube.com/watch?v={{id}}" title="{{title}}">Play</a></p>
            </figure>
          {{/is}}

          {{#is this.type 'text'}}
            <h2>{{title}}</h2>
            {{{text}}}
          {{/is}}

          {{#is this.type 'poem'}}
            <h2>{{title}}</h2>
            <h3>{{author}}</h3>
            <br>
            {{{text}}}
          {{/is}}

          {{#is this.type 'image'}}
          <h2>{{title}}</h2>
            <figure>
              <img src="images/{{url}}" alt="{{title}}" style="width: 100%; height: auto;">
            </figure>
            {{{text}}}
          {{/is}}

          {{#is this.type 'subtitle'}}
            <h2>{{title}}</h2>
          {{/is}}

          {{#is this.type 'link'}}
            <h2>{{title}}</h2>
            <p>
              <a href="{{url}}">{{title}} &raquo;</a>
            </p>
          {{/is}}

          {{#is this.type 'business'}}
            <h2>Business Practice: {{title}}</h2>
            <figure>
              <img src="images/{{url}}" alt="{{title}}" style="width: 100%; height: auto;">
            </figure>
            {{{text}}}
          {{/is}}

        </section>
      {{/each}}

      <section>
        <p>
          {{#if previous}}<a href="{{previous.name}}.html">&laquo;&nbsp;{{previous.title}}</a>&nbsp;&middot;{{/if}}
          <a href="index.html">Table of Contents</a>
        </p>

        <p style="padding: 3rem 0; width: 100%;">
          {{#if next}}<a href="{{next.name}}.html" style="line-height: 4rem; font-size: 3rem;">{{next.title}}&nbsp;&raquo;</a>{{/if}}
        </p>

    </section>

    </article>
  </body>
</html>
