<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>Warrior</title>
    <link rel="stylesheet" href="tufte.css"/>
    <link rel="stylesheet" href="latex.css"/>
    <link rel="stylesheet" href="custom.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <article>

      <section>
      <h1 id="tufte-css">{{title}}</h1>
      </section>

      {{#each sections}}
        <section>


          {{#is this.type 'quote'}}
            <blockquote>
              {{{text}}}
              <footer>

                {{#if url}}
                  <a href="{{url}}">{{author}}</a>
                {{/if}}

                {{#unless url}}
                  {{author}}
                {{/unless}}

              </footer>
            </blockquote>
          {{/is}}

          {{#is this.type 'youtube'}}
            <h2>{{title}}</h2>
            <figure class="iframe-wrapper">
              <iframe width="853" height="480" src="https://www.youtube.com/embed/{{video}}" frameborder="0" allowfullscreen></iframe>
            </figure>
          {{/is}}

          {{#is this.type 'text'}}
            <h2>{{title}}</h2>
            {{{text}}}
          {{/is}}

          {{#is this.type 'poem'}}
            <h2>{{title}}</h2>
            <h3>{{author}}</h3>
            <br>
            {{{text}}}
          {{/is}}

          {{#is this.type 'image'}}
            <figure>
              <img src="images/{{url}}" alt="{{title}}">
            </figure>
            <h2>{{title}}</h2>
            {{{text}}}
          {{/is}}

          {{#is this.type 'subtitle'}}
            <h2>{{title}}</h2>
          {{/is}}

          {{#is this.type 'link'}}
            <h2>{{title}}</h2>
            <p>
              <a href="{{url}}">{{title}} &raquo;</a>
            </p>
          {{/is}}

          {{#is this.type 'business'}}
            <h2>Business Practice: {{title}}</h2>
            <figure>
              <img src="images/{{url}}" alt="{{title}}">
            </figure>
            {{{text}}}
          {{/is}}

        </section>
      {{/each}}

      <section>
        <p>
          {{#if previous}}<a href="{{previous.name}}.html">&laquo; {{previous.title}}</a> &middot;{{/if}}
          <a href="index.html">Table of Contents</a>
        </p>

        <p>
          {{#if next}}<a href="{{next.name}}.html" class="lg">{{next.title}} &raquo;</a>{{/if}}
        </p>

    </section>

    </article>
  </body>
</html>
