<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>Warrior</title>
    {{> stylesheet}}
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="index.html">Table of Contents</a></li>
        {{#if next}}
        <li><a href="{{next.name}}.html">Next Chapter: {{next.title}}</a></li>
        {{/if}}
      </ul>
    </nav>
    <main>
      <h1>{{title}}</h1>
      {{> sections}}
    </main>
    <nav>
      <ul>
        {{#if next}}
        <li><a href="{{next.name}}.html">Next Chapter: {{next.title}}</a></li>
        {{/if}}
        <li><a href="index.html">Table of Contents</a></li>
        {{#if previous}}
        <li><a href="{{previous.name}}.html">Return to {{previous.title}}</a></li>
        {{/if}}
      </ul>
    </nav>
  </body>
</html>
